@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'Android', 'cursive';

    --cor0: #a6e7bc;
    --cor1: #1FD15E;
    --cor2: #419E61;
    --cor3: #97D1AB;
    --cor4: #14853B;
    --cor5: #0C5225;
    --cor6: #054114;
}
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
main > article > picture > img{
    width: 100%;
}
article > img{
    display: block;
    margin: auto;
}
header{
    background-image: linear-gradient(to top, var(--cor5), var(--cor2) 60%, rgba(47, 141, 47, 0.473));
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.432);
}
header h1{
    font-family: var(--font-destaque);
    padding: 20px;
    font-weight: lighter;
    font-size: 3em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.349);
}
header h2{
    font-weight: 300;
    padding-bottom: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.315);
    font-size: 20px;
}
nav > a:hover{
    background-color: #2ab85c;
    color: #114d20;
    border-radius: 5px;
}
nav {
    background-color: var(--cor5);
    padding: 15px;
}
nav > a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
body{
    font-family: var(--font-padrao);
    background-color: #97D1AB;
}
main{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    margin: auto;
    min-width: 280px;
    max-width: 850px;
    padding: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.432);
}
main strong{
    color: var(--cor4);
    margin: 0;
}
article > p >a{
    text-decoration: none;
    display: inline;
    margin: 0;
    
}
article > h1{
    font-family: var(--font-android);
    color: var(--cor5);
    margin: 10px;
    font-size: 2em;
}
article > h2{
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor0) 10%, var(--cor3) 30%, white);
    color: var(--cor5);
    margin: 10px;
    margin-left: 0;
}
article p{
    text-align: justify;
    text-indent: 2em;
    margin: 10px;
}
article > div{
    margin-bottom: 10px;
    background-color: var(--cor5);
    padding-bottom: 58.6%;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor0);
    padding-bottom: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.247);
    border-radius: 15px;
}

aside > ul{
    columns: 2;
    list-style-position: inside;
    list-style-type: circle;
    margin-left: 10px;
}
aside h3{
    padding: 5px;
    text-indent: 2em;
    color: white;
    background-color: var(--cor2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
footer{
    background-color: var(--cor6);
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 15px;
    font-weight: lighter;
}
footer > a{
    color: white;
    text-decoration: 0;
    font-weight: bold;
}
abbr{
    text-decoration-style: dashed;
    text-decoration-color: #1FD15E;
}